/* @font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNextLTArabic-UltraLight-1.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNextLTArabic-Regular-2.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNextLTArabic-Medium-2.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNextLTArabic-Bold-2.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNextLTArabic-Heavy-1.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DINNextLTArabic";
    src: url("/fonts/ArbFONTS-DINNextLTArabic-Black-2.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} */

/* font.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Cairo:wght@300;400;500;600;700&display=swap");